
/*-----------------------------------
Block to show the pie chart
-------------------------------------*/
#img_total_percentage {
  position: absolute;
  z-index: -1;
  }
  
/*-----------------------------------
Number total of incident, under the  pie chart
-------------------------------------*/

#num-incident {
  position: absolute;
  z-index: 5;
  }


#footer .center .separator{
  background-image: url(../images/ftr-separator.png);

  }